

<ul class="lista">

  <li>
  
    África
  </li>

  <li>
    América do Norte               
  </li>

  <li>
    América Central               
  </li>

  <li>
    América do Sul               
  </li>

  <li>
    Ásia                                         
  </li>

  <li>
    Oceania                                  
  </li>

  <li>
    Europa                                    
  </li>


</ul>
<div class="botaodiv">
  
<a href="/e-sports-app" class="botao">Menu Principal</a>
<a href="/campeonatos" class="botao">Voltar</a>


</div>


<ion-content></ion-content>
